<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard1; let count = index" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard id="dashcard{{count+1}}" [dashData]="dash"></cdk-dashcard>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard2; let count = index" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard id="dashcard{{count+3}}" [dashData]="dash"></cdk-dashcard>
    </div>
</div>



<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
		<mat-toolbar class="table-header">
			<h1 class="mat-headline center-align" >Payments</h1>
			<br><br>
			
		</mat-toolbar>
		<div class="table-container">
			<mat-table #table id="transactions_table" [dataSource]="dataSource">

				<!--- Note that these columns can be defined in any order.
				The actual rendered columns are set as a property on the row definition" -->
				
				<ng-container matColumnDef="ID">
					<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
					<mat-cell id="id{{row.id}}" *matCellDef="let row"> {{row.id | number}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="date_and_time">
					<mat-header-cell *matHeaderCellDef> TX Date and Time </mat-header-cell>
					<mat-cell id="date_and_time{{row.id}}" *matCellDef="let row"> {{row.date_and_time | date:'medium'}} </mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="tx_hash">
					<mat-header-cell *matHeaderCellDef> TX Hash </mat-header-cell>
                    <mat-cell id="tx_hash{{row.id}}" *matCellDef="let row"><a class="text-primary" href="https://explorer.x-cash.org/Transaction?data={{row.tx_hash}}" target="_blank"><h3>{{row.tx_hash}}</h3></a></mat-cell>
				</ng-container>	

				<ng-container matColumnDef="tx_key">
					<mat-header-cell *matHeaderCellDef> TX Key </mat-header-cell>
					<mat-cell id="tx_key{{row.id}}" *matCellDef="let row"> {{row.tx_key}} </mat-cell>
				</ng-container>	

				<ng-container matColumnDef="total">
					<mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
					<mat-cell id="total{{row.id}}" *matCellDef="let row"> {{row.total | number}} </mat-cell>
				</ng-container>	
								
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				
			</mat-table>
		</div>
	</div>
</div>
