.mat-toolbar-single-row{
	height: 75px;
}
.mat-form-field {
		font-weight: 500;
		line-height: normal;
		font-family: Roboto, "Helvetica Neue", sans-serif;
		padding: 0px;
		margin:0;

		width: 100%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {text-align: center !important; margin-left: 52px !important;}


p.hash {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
}

.mat-column-ID {
	flex: 1 0 24px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.mat-column-payment_name {
  flex: 0 0 10%;
}
.mat-column-payment_address {
	flex: 4 1 45%;
	padding-right: 10px;
}
.mat-column-date_and_time {
  flex: 1 1  100px;
}
.mat-column-total {
  flex: 0 0 12%;
}
.mat-column-tx_hash {
	flex: 2 1 24px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.mat-column-tx_key {
	flex: 2 1 24px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
