<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard1" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard [dashData]="dash"></cdk-dashcard>
    </div>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard2" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard [dashData]="dash"></cdk-dashcard>
    </div>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard3" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard [dashData]="dash"></cdk-dashcard>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap" fxLayoutAlign="center">    
    <cdk-profile-card [title]="'Public Address'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="public_address" [button_name]="'Copy'" [button_length]="{'width': '25%'}" [button_click]="'copy'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'View Delegate Statistics'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'View Delegate Statistics'" [button_length]="{'width': '25%'}" [button_click]="delegatestatistics" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'View Delegate Profile Information'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'View Delegate Profile Information'" [button_length]="{'width': '25%'}" [button_click]="delegateprofileinformation" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
</div>